h1{
    color: blue; 
    font-size: 2em; 
    text-align: center; 
}

h2, p, #buttons{
    text-align: center;
}

h2{
    color:red
}

#story-image{
    margin-left:43%;
    margin-bottom: 10px;
}

p:nth-last-of-type(1){
   font-weight: bold; /* Makes the latest story event bold */
}

