body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: blue; 
    font-size: 2em; 
    text-align: center; 
}

h2, p, #buttons{
    text-align: center;
}

h2{
    color:red
}

#story-image{
    margin-bottom: 10px;
}

p:nth-last-of-type(1){
   font-weight: bold; /* Makes the latest story event bold */
}

button{
    margin: 10px;
}

#story{
    font-size: 1.5em;
    border:2px solid black;
    margin-bottom:10px;
    width: 50%;
}
.title{
    font-size: 6em;
    font-weight: bold;
    color: blue;
    transform: translate(0%, -80%);
}